<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/allProducts.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
  <div id="main">
    <div id="left">
      <div class="logo" style="
            display: flex;
            justify-content: center;
            width: 20vw;
            height: 5vw;
            background-color: red;
          ">
        <img style="width: 18%" draggable="false" src="../images/apple-touch-icon.png" alt="" />
      </div>
      <div class="features">
        <a href="/allOrders">
          <div class="opt">All Orders</div>
        </a>
        <a href="/addProductPage">
          <div class="opt">Add Products</div>
        </a>
        <a href="/allProducts">
          <div class="opt">All Products</div>
        </a>
        <a href="/advertiseOffer">
          <div class="opt">Advertise New Offer</div>
        </a>
        <a href="/allUsers">
          <div class="opt">All Users</div>
        </a>
        <a href="/totalRevenue">
          <div class="opt">Total Revenue</div>
        </a>
      </div>
    </div>
    <div id="right">
      <div onclick="handleDelete(this)" id="edit">
        <i id="edit_icon" class="ri-pencil-line"></i>
      </div>
      <div class="all_products">
        <% products.forEach(product=> { %>
          <div class="item">
            <form id="updateProductForm" action="/updateProduct/<%= product._id %>" method="post"
              enctype="multipart/form-data">
              <div class="drop-zone">
                <h3 id="clickMe">Click here To upload</h3>
                <input id="input" type="file" name="myFile" accept="image/*" class="drop-zone__input" />
                <img id="frame" src="" style="
                    max-height: 13vw;
                    max-width: 11vw;
                    position: absolute;
                    display: none;
                  " alt="" />
                <h6 class="nameOfImage">name</h6>
              </div>
              <input type="text" value="<%= product.productname %>" id="updateName" name="updatename">
              <input type="text" value="<%= product.productprice %>" id="updatePrice" name="updateprice">
              <input type="text" value="<%= product.productquantity %>" id="updateQuantity" name="updatequantity">
              <button id="updateBtn">Update</button>
            </form>
            <div class="fImg">
              <img class="prdctImage" src="<%=product.productImage%>" alt="" />
            </div>
            <h1>
              <%= product.productname %>
                </h4>
                <h3>Price = <%= product.productprice %> rs</h3>
                <h4>Quantity x <%= product.productquantity %>
                </h4>

                <a href="/deleteProduct/<%= product._id %>" class="deleteProduct"><button
                    id="deleteBtn">Delete</button></a>
          </div>
          <% }); %>
      </div>
    </div>
  </div>
  <script src="../javascripts/allProducts.js"></script>

</body>

</html>